<div class="panel panel-default">

  <div class="panel-heading row">
    <h4 class="panel-title col-sm-7">{{ selectedQuote }}</h4>
    <div class="buttons col-sm-pull-5">
    	<button ng-show="ss" ng-click="next(true)" class="btn btn-success">Complete</button>
    	<button ng-show="ss" ng-click="next(false)" class="btn btn-danger">Skip</button>
    </div>
  </div>

  <div class="panel-body row">
	  <p class="col-sm-12">{{ selectedDescription }}</p>

	  <p ng-show="ss" ng-class="{ completedStyle : overachiever }" id="completed">completed ( {{ colcount }}/{{ collocations.length }} )</p>
  </div>

</div>
