<form>

	<div class="form-group">
		<label for="userAccountEmail">Email</label>
		<input type="email" class="form-control" id="userAccountEmail" placeholder="useremail">
	</div>

	<div class="form-group">
		<label for="userAccountNewPassword">New password</label>
		<input type="password" class="form-control" id="userAccountNewPassword">
	</div>

	<div class="form-group">
		<label for="userAccountNewPasswordConfirmation">Re-type new password</label>
		<input type="password" class="form-control" id="userAccountNewPasswordConfirmation">
	</div>

	<div class="form-group">
		<label for="userAccountOldPassword">Old password</label>
		<input type="password" class="form-control" id="userAccountOldPassword">
	</div>

	<div class="form-group">
		<input type="checkbox" name="" id="userAccountRememberMe">
		<label for="userAccountRememberMe">Remember me</label>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Update</button>
	</div>
	
</form>