<h1>User home</h1>

<!-- left side -->
<div class="col-sm-6">
	<input type="text" ng-model="search">
	<ul>
		<li ng-repeat="cv in cueVideos | filter:search">
			<div style="width:50px;height:40px;background:grey;" ng-click="selectCueVideo(cv)"></div>
			<h4>Topic: {{ cv.topic.name }}</h4>
			<h4>Category: {{ cv.category.name }}</h4>
			<h4>Speaker: {{ cv.speaker.name }}</h4>
		</li>
	</ul>
</div>



<!-- right side -->
<div class="col-sm-6">

	<!-- youtube video player -->
	<youtube-video 	video-id="video.code" 
									player-vars="playerVars"
									player-width="'100%'" 
									player-height="'300px'"
									></youtube-video>

	<!-- video script tabs -->
	<tabset>

    <tab 	ng-repeat="tab in tabs" 
    			heading="{{ tab.title }}" 
    			active="tab.active">
    			<span ng-bind-html="tab.content" 
    						class="videoScriptContent"
    						ng-click="videoScriptClickHandler($event)"
    						></span>
    			</tab>

    <tab heading="N/A"></tab>

  </tabset>
	
	<collocation-panel></collocation-panel>

</div>

<!-- embed-responsive embed-responsive-16by9 -->