<div class="container">

	<div class="row" ng-hide="cueVideos.length">
		<p>There are no {{ selectedLanguage }} videos in your Cue!</p>
	</div>

	<div class="row" ng-show="cueVideos.length">

		<!-- row 1 left -->
		<div class="col-sm-5" id="cueVideosTableWrapper">

			<cue-videos-table></cue-videos-table>

		</div>
		
		
		<!-- row 1 col right -->
		<div class="col-sm-7">



		
			<!-- youtube video player -->
			<youtube-video 	
											video-id="video.code" 
											player-vars="playerVars"
											player-width="'100%'" 
											player-height="'300px'"
											>
			</youtube-video>
		




			<!-- video script tabs -->
			<tabset id="userHomeTabset">
		
		    <tab 	
		    			ng-repeat="tab in tabs" 
		    			heading="{{ tab.title }}" 
		    			active="tab.active"
		    			>

		    			<span 
		    						ng-bind-html="tab.content" 
		    						class="videoScriptContent"
		    						ng-click="videoScriptClickHandler($event)"
		    						>
		    			</span>
		    </tab>
		

				<!-- always N/A tab -->
		    <tab heading="N/A"></tab>


		  </tabset> <!-- end tabset -->
			



			<collocation-panel class="userHome"></collocation-panel>
		



		</div> <!-- row 1 col right -->

	</div> <!-- .row -->

	

	<!-- progress report -->
	<div class="row">

	<hr>

	<h1>Your progress in {{ selectedLanguage }}</h1>

		<p ng-show="noWritingAnswers">You have not written any answers yet!</p>		

		<ol class="col-sm-6" ng-hide="noWritingAnswers">
			<li ng-repeat="answer in writingAnswers">
				<p>Date: {{ answer.created_at | date }}</p>
				<p>Topic: {{ answer.topic.name }}</p>
				<p>Answer: {{ answer.writing_answer }}</p>
			</li>
		</ol>
	

	</div> <!-- row -->

</div>