<div class="container">
	<h1>Contact us</h1>
	<hr>
	
	<div class="col-sm-8">
	
		<p>	Ex fugit quisquam, dolor. Quos, reprehenderit nesciunt laboriosam! 
				Adipisicing elit lorem deserunt delectus repellat quam ipsum dolor 
				sit amet, consectetur. 
				</p>
		
		<p>	Atque nemo deserunt delectus repellat quam ipsum minima 
				<a ng-href="mailto:{{ emails.press }}">{{ emails.press }}</a>
				</p>
		
		<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit 
				<a href="mailto:{{ emails.business }}">{{ emails.business }}</a>
				</p>
		
		<contact-us-form></contact-us-form>
	
	</div>
	
	<div class="col-sm-4">
	
		<static-content-navigation-panel></static-content-navigation-panel>
		
	</div>
</div>