<div class="container">

<div class="row" ng-hide="cueVideos.length">
	<p>You have no {{ selectedLanguage }} videos in your Cue! Choose some in the Library.</p>
</div>

<div class="row" ng-show="cueVideos.length">

	<h1>Study {{ selectedLanguage }}</h1>
	
	<div class="col-sm-6">

		<h3>Choose a video</h3>

		<cue-videos-table uneditable></cue-videos-table>


	</div> <!-- col-sm-6 -->

	<div class="col-sm-6">

		<ul>
			<li>{{ selectedCueVideo.category.name }}</li>
			<li>{{ selectedCueVideo.topic.name }}</li>
			<li>{{ selectedCueVideo.speaker.name }}</li>
			<li>{{ selectedCueVideo.length | inMinutes }}</li>
		</ul>

	
		<div class="studyTop" id="minutesFormWrapper">
			<h3>I want to study for..</h3>

			<div class="studyTop" id="buttonWrapper">
				<a href="" ng-click="increase()" class="glyphicon glyphicon-menu-up btn btn-default"></a>
				<a href="" ng-click="decrease()" class="glyphicon glyphicon-menu-down btn btn-default"></a>
			</div>
			
			<input 	type="text" 
							readonly
							class="studyTop" 
							id="minutesInput" 
							value="{{ time }}"
							>
			
			<span class="studyTop" id="minutesLabel">minutes</span>
		</div>

		
	<br>

		<a ui-sref="studyListening({ v: selectedCueVideo.id, lm: languageModule.id, t: time })" class="btn btn-success">Begin</a>

	</div>

	<div class="col-sm-12"><progressbar value="5"></progressbar></div>

</div> <!-- row -->

</div>