<div class="container">

<h1>Ready..</h1>

<div class="row">
	
	<div class="col-sm-6">

		<h3>Choose a video</h3>

		<cue-videos-table uneditable></cue-videos-table>


	</div> <!-- col-sm-6 -->

	<div class="col-sm-6">

		<h3>Study..</h3>
		<ul>
			<li>{{ selectedCueVideo.category.name }}</li>
			<li>{{ selectedCueVideo.topic.name }}</li>
			<li>{{ selectedCueVideo.speaker.name }}</li>
			<li>{{ selectedCueVideo.length | inMinutes }}</li>
		</ul>

	
		<div>
			<button ng-click="increase()">up</button>
			<button ng-click="decrease()">down</button>
			
			<input 	type="text" 
							readonly
							value="{{ time }}"
							size="2"
							>
			
			<span>minutes</span>
		</div>

		
	<br>

		<a ui-sref="studyListening({ videoId: selectedCueVideo.id, time: time })" class="btn btn-success">Begin</a>

	</div>

</div> <!-- row -->


<div class="col-sm-12"><progressbar value="20"></progressbar></div>








</div>