// default bg-color
body { 
	background: $offWhite;
}

// default ul
ul {
	padding: 0;
	list-style-type: none;
}

// default container bg-color
div.container { background: #fff; }

// angular-bootstrap required styles
.nav,
.pagination,
.carousel,
.panel-title a { cursor: pointer; }

// remove border-radius on globalNavbar
nav.navbar { border-radius: 0; }