div#libraryTopSearchBarContainer {
  background: transparent;
  margin-bottom: 20px;
  input {
    height: 2.5em;
    font-size: 1.7em;
    border: none;
    padding-left: 34px;
  }
  button {
    height: 4em;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  #libraryTopSearchGlass {
    transform: translate(2%, -1.6%);
    vertical-align: middle;
    border-radius: 7px 0 0 7px;
  }
}

tr.libraryTopTableRow {
  cursor: pointer;
}

span#libraryTopSearchGlass {
  position: absolute;
  z-index: 11;
  left: 9px;
  top: 22px;
  font-size: 1.4em;
}

#libraryTopSearchResultsTableContainer {
  border-radius: 7px;
}