#writing-button-div {
  position: absolute;
  right: 25px;
  top: 65px;
}

#writingExample {
  background-color: #fff;
}

.studyWriting.collocationsColumn {
	h2 {
		margin-top: 2px;
		margin-bottom: 2px;
		font-size: 14px;
	}
  ul {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    line-height: 2em;
  }
}
