div.studyListening.tabsetColumn {
	margin-top: -42px;
}

#studyListeningTabset > div {
  background: #fff;
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 300px;
  overflow: scroll;
}