// color
$offWhite: 		lighten(#E8E8E7, 3);
$lightGreen: 	#57B196;
$yellow: 			#FFD25A;
$lightRed: 		#FF837B;
$darkBlue: 		#393f48;

// breakpoints
$screen-sm: 	750px;
$screen-md: 	970px;
$screen-lg: 	1170px;
