<div class="container studyListening">

<h1>Listening warm-up</h1>
	
	<div class="row">

		<div class="col-sm-6">
	
		<!-- youtube video player -->
		<youtube-video 	video-id="video.code" 
										player="studyListeningPlayer"
										player-vars="playerVars"
										player-width="'100%'" 
										player-height="'300px'"
										class="avoid-clicks studyPlayer"
										></youtube-video>

		<div class="buttonDiv">
			<button ng-click="studyListeningPlayer.playVideo();resumeTimer()"><span class="glyphicon glyphicon-play"></span></button>
			<button ng-click="studyListeningPlayer.pauseVideo();stopTimer()"><span class="glyphicon glyphicon-pause"></span></button>
			<timer 	countdown="studyTime" 
							interval="1000"
							autostart="false"
							finish-callback="finished()"
							ng-model="foo">
							{{mminutes}}:{{sseconds}}
							</timer>
		</div>
	
		</div> <!-- column -->

		<div class="col-sm-6 studyListening tabsetColumn">
			
			<!-- video script tabs -->
			<tabset id="studyListeningTabset">

		    <tab 	ng-repeat="tab in tabs" 
		    			heading="{{ tab.title }}" 
		    			active="tab.active">
		    			<span ng-bind-html="tab.content" 
		    						class="videoScriptContent"
		    						></span>
		    			</tab>

		    <tab heading="N/A"></tab>

		  </tabset>

		</div>

	</div> <!-- row -->

	<div class="row progressBarRow">

		
		

		<div class="col-sm-12"><progressbar value="20"></progressbar></div>

	</div>


</div> <!-- container -->