<div class="container">
	
	

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

			<h1>shadowing</h1>
		
			<!-- youtube video player -->
			<youtube-video 	video-id="video.code" 
								player="studyShadowingPlayer"
								player-vars="playerVars"
								player-width="'100%'" 
								player-height="'300px'"
								class="avoid-clicks studyPlayer"
								></youtube-video>

		<div class="buttonDiv">
			<button ng-click="studyShadowingPlayer.playVideo();resumeTimer()"><span class="glyphicon glyphicon-play"></span></button>
			<button ng-click="studyShadowingPlayer.pauseVideo();stopTimer()"><span class="glyphicon glyphicon-pause"></span></button>
			<timer 	countdown="studyTime" 
							interval="1000"
							autostart="false"
							finish-callback="finished()"
							ng-model="foo">
							{{mminutes}}:{{sseconds}}
							</timer>
		</div>

			
		
	</div> <!-- column -->
</div> <!-- row -->


<div class="row progressBarRow">

	<div class="col-sm-12">
		<progressbar value="40"></progressbar>
	</div>

</div> <!-- crow -->



</div>